<h2 class="page-title">All</h2>
              <p class="info">The all property in CSS resets all of the selected element’s properties, except the direction and unicode-bidi properties that control text direction.</p>
              <h2 class="page-title">HTML</h2>
              <div class="example-container">
<pre class="text-example">
&lt;div class="all-unset">&lt;/div>
</pre>
              </div>
              <h2 class="page-title">SCSS</h2>
              <div class="example-container">
<pre class="text-example">
$all: ();
$all: map-merge(
  (
    "initial": initial,
    "inherit": inherit,
    "unset": unset,
  ),
  $all
);
</pre>
              </div>