 <h2 class="page-title">Box-Sizing</h2>
              <p class="info">The box-sizing property in CSS controls how the box model is handled for the element it applies to.</p>
              <div class="example-container">
              </div>
              <h2 class="page-title">HTML</h2>
              <div class="example-container">
<pre class="text-example">

</pre>
              </div>
              <h2 class="page-title">SCSS</h2>
              <div class="example-container">
<pre class="text-example">
$box-sizing: ();
$box-sizing: map-merge(
  (
    "content-box": content-box,
    "padding-box": padding-box,
    "border-box": border-box,
    "inherit": inherit,
  ),
  $box-sizing
);
</pre>
              </div>