 <h2 class="page-title">Column</h2>
              <p class="info"></p>
              <div class="example-container">

              </div>
              <h2 class="page-title">HTML</h2>
              <div class="example-container">
<pre class="text-example">

</pre>
              </div>
              <h2 class="page-title">SCSS</h2>
              <div class="example-container">
<pre class="text-example">
$column-count: ();
$column-count: map-merge(
  (
    3: 3,
    6: 6,
    12: 12,
  ),
  $column-count
);

$column-fill: ();
$column-fill: map-merge(
  (
    "auto": auto,
    "balance": balance,
  ),
  $column-fill
);

$column-gap: ();
$column-gap: map-merge(
  (
    "normal": normal,
    "unset": unset,
    25: 25px,
  ),
  $column-gap
);

$column-rule-width: ();
$column-rule-width: map-merge(
  (
    1: 1px,
  ),
  $column-rule-width
);

$column-rule-style: ();
$column-rule-style: map-merge(
  (
    "solid": solid,
  ),
  $column-rule-style
);

$column-span: ();
$column-span: map-merge(
  (
    "all": all,
    "none": none,
  ),
  $column-span
);

$column-width: ();
$column-width: map-merge(
  (
    50: 50px,
  ),
  $column-width
);
</pre>
              </div>