<h2 class="page-title">Counter</h2>
              <p class="info"><b>counter-increment | counter-reset | counter-set</b></p>
              <div class="example-container counter-reset-mega-step d-flex justify-content-space-around flex-wrap-wrap">
                <section class="background-color-info width-3 height-2 d-flex counter-increment-mega-step counter-example m-3">
                  <ol>
                    <li>Go to store</li>
                    <li>Go to meat counter</li>
                    <li>Ask butcher for skirt steak</li>
                  </ol>
                </section>
                <section class="background-color-info width-3 height-2 d-flex counter-increment-mega-step counter-example m-3">
                  <ol>
                    <li>Go to store</li>
                    <li>Go to meat counter</li>
                    <li>Ask butcher for skirt steak</li>
                  </ol>
                </section>
                <section class="background-color-info width-3 height-2 d-flex counter-increment-mega-step counter-example m-3">
                  <ol>
                    <li>Go to store</li>
                    <li>Go to meat counter</li>
                    <li>Ask butcher for skirt steak</li>
                  </ol>
                </section>
              </div>
              <h2 class="page-title">HTML</h2>
              <div class="example-container">
<pre class="text-example">
&lt;section class="background-color-info width-3 height-2 d-flex counter-increment-mega-step counter-example">
  &lt;ol>
    &lt;li>Go to store&lt;/li>
    &lt;li>Go to meat counter&lt;/li>
    &lt;li>Ask butcher for skirt steak&lt;/li>
  &lt;/ol>
&lt;/section>
&lt;section class="background-color-info width-3 height-2 d-flex counter-increment-mega-step counter-example">
  &lt;ol>
    &lt;li>Go to store&lt;/li>
    &lt;li>Go to meat counter&lt;/li>
    &lt;li>Ask butcher for skirt steak&lt;/li>
  &lt;/ol>
&lt;/section>&lt;section class="background-color-info width-3 height-2 d-flex counter-increment-mega-step counter-example">
  &lt;ol>
    &lt;li>Go to store&lt;/li>
    &lt;li>Go to meat counter&lt;/li>
    &lt;li>Ask butcher for skirt steak&lt;/li>
  &lt;/ol>
&lt;/section> 
</pre>
              </div>
              <h2 class="page-title">SCSS</h2>
              <div class="example-container">
<pre class="text-example">
$counter-increment: ();
$counter-increment: map-merge(
  (
    "name": "name",
  ),
  $counter-increment
);

$counter-reset: ();
$counter-reset: map-merge(
  (
    "name": "name",
  ),
  $counter-reset
);

$counter-set: ();
$counter-set: map-merge(
  (
    "name": "name",
  ),
  $counter-set
);
</pre>
              </div>