<h2 class="page-title">Filter</h2>
              <p class="info">CSS Filters are a powerful tool that authors can use to achieve varying visual effects (sort of like Photoshop filters for the browser). The CSS filter property provides access to effects like blur or color shifting on an element’s rendering before the element is displayed. Filters are commonly used to adjust the rendering of an image, a background, or a border.</p>
              <div class="example-container d-flex justify-content-space-around flex-wrap-wrap">
                <div>
                  <img class="height-4 width-auto filter-blur-example" src="https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg" alt="">
                  <p class="pt-3 width-3 text-align-center"> With filter (filter: blur(2px))</p>
                </div>
                <div>
                  <img class="height-4 width-auto" src="https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg" alt="">
                  <p class="pt-3 width-3 text-align-center"> Without filter</p>
                </div>
              </div>
              <h2 class="page-title">HTML</h2>
              <div class="example-container">
<pre class="text-example">
&lt;img class="height-4 width-auto filter-blur-example" src="https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg" alt="">
&lt;img class="height-4 width-auto" src="https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg" alt="">
&lt;p class="pt-3 width-3 text-align-center"> With filter (filter: blur(2px))&lt;/p>
&lt;p class="pt-3 width-3 text-align-center"> Without filter&lt;/p>
</pre>
              </div>
              <h2 class="page-title">SCSS</h2>
              <div class="example-container">
<pre class="text-example">
$filter: ();
$filter: map-merge(
  (
    "blur-example": blur(2px),
  ),
  $filter
);

You can use one of those function in order to use the filter property.
blur()
brightness()
contrast()
drop-shadow()
grayscale()
hue-rotate()
invert()
opacity()
saturate()
sepia()
url() – for applying SVG filters */
</pre>
              </div>