<h2 class="page-title">Initial-Letter</h2>
<p class="info">initial-letter is a CSS property that selects the first letter of the element where it is applied and specifies the number of lines the letter occupies.</p>
<div class="example-container">
	<h2>Needs Pseudo-Selector</h2>
	<p>It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way - in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</p>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$initial-letter: ();
$initial-letter: map-merge(
  (
    2: 2,
  ),
  $initial-letter
);
</pre>
</div>