<h2 class="page-title">Isolation</h2>
<p class="info">The isolation property in CSS is used to prevent elements from blending with their backdrops.</p>
<div class="example-container">
	
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$isolation: ();
$isolation: map-merge(
  (
    "isolate": isolate,
    "auto": auto,
  ),
  $isolation
);
</pre>
</div>