<h2 class="page-title">Orphans</h2>
<p class="info">In typography terms, an orphan is the first line of a paragraph that is left behind on the old page while the paragraph continues on the next. The orphan property controls the minimum number of lines of a paragraph that can be left on the old page. This property only affects paged media such as print.</p>
<div class="example-container">
	<p class="orphans-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique venenatis leo eu egestas. Nam gravida pellentesque tortor. Donec blandit sem non ipsum commodo, id posuere nisi venenatis. Sed ultricies pulvinar ipsum, vel tristique dui fermentum vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam dignissim sit amet nisl eu porttitor. Nam sem lorem, fermentum sed molestie consectetur, pellentesque quis magna. Nulla eget ipsum libero. Nulla facilisi. Suspendisse in diam a lorem aliquam aliquam nec vitae nisl. Curabitur imperdiet convallis mauris, ac pulvinar quam tincidunt non.</p>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">
&lt;p class="orphans-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique venenatis leo eu egestas. Nam gravida pellentesque tortor. Donec blandit sem non ipsum commodo, id posuere nisi venenatis. Sed ultricies pulvinar ipsum, vel tristique dui fermentum vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam dignissim sit amet nisl eu porttitor. Nam sem lorem, fermentum sed molestie consectetur, pellentesque quis magna. Nulla eget ipsum libero. Nulla facilisi. Suspendisse in diam a lorem aliquam aliquam nec vitae nisl. Curabitur imperdiet convallis mauris, ac pulvinar quam tincidunt non.&lt;/p>
</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$orphans: ();
$orphans: map-merge(
  (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
  ),
  $orphans
);

</pre>
</div>