<h2 class="page-title">Perspective</h2>
<p class="info">The perspective CSS property gives an element a 3D-space by affecting the distance between the Z plane and the user.</p>
<div class="example-container">

</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$perspective: ();
$perspective: map-merge(
  (
    "none": none,
    1000: 1000px,
  ),
  $perspective
);

$perspective-origin: ();
$perspective-origin: map-merge(
  (
    0: 50% 30%,
  ),
  $perspective-origin
);
</pre>
</div>