<h2 class="page-title">Place-Self</h2>
<p class="info">The place-self property in CSS is shorthand for the align-self and justify-self properties, combining them into a single declaration in CSS Grid and Flexbox layouts, where align-self and justify-self (CSS Grid only) are values that align an individual item in the block and inline directions.</p>
<div class="example-container display-grid place-self-start-center">
  <div class="height-3 width-3 background-color-info"></div>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">
&lt;div class=&quot;display-grid place-self-start-center&quot;&gt;
  &lt;div class=&quot;height-3 width-3 background-color-info&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$place-self: ();
$place-self: map-merge(
  (
    "auto": auto,
    "normal": normal,
    "stretch": stretch,
    "start": start,
    "end": end,
    "center": center,
    "left": left,
    "right": right,
    "flex-start": flex-start,
    "flex-end": flex-end,
    "self-start": self-start,
    "self-end": self-end,
    "first": first,
    "baseline": baseline,
    "last": last,
    "start-center": start center,
    "center-start": center start,
  ),
  $place-self
);
</pre>
</div>