<h2 class="page-title">Pointer-Events</h2>
<p class="info">The pointer-events property allows for control over how HTML elements respond to mouse/touch events – including CSS hover/active states, click/tap events in Javascript, and whether or not the cursor is visible.</p>
<div class="example-container height-4">
  <div class="height-3 width-3 display-block background-color-warning position-absolute p-3 pointer-events-none opacity-085">try selecting text through me</div>
  <p class="font-size-2">This is some basic flow content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eos ipsum sunt repellat nisi modi voluptatum ipsa eligendi minima cumque. Accusantium laudantium autem quae earum eaque expedita quia molestiae in.</p>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">
&lt;div class=&quot;height-3 width-3 display-block background-color-warning position-absolute p-3 pointer-events-none opacity-085&quot;&gt;try selecting text through me&lt;/div&gt;
&lt;p class=&quot;font-size-2&quot;&gt;This is some basic flow content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eos ipsum sunt repellat nisi modi voluptatum ipsa eligendi minima cumque. Accusantium laudantium autem quae earum eaque expedita quia molestiae in.&lt;/p&gt;
</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$pointer-events: ();
$pointer-events: map-merge(
  (
    "none": none,
    "auto": auto,
  ),
  $pointer-events
);
</pre>
</div>