<h2 class="page-title">Shape</h2>
<p class="info"></p>
<div class="example-container overflow-auto height-300px background-image-linear-gradient-example shape-image-threshold-015">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, esse vel? Dolorem cupiditate sunt dolor nesciunt molestias eligendi aliquid, quae eaque maiores expedita a error, explicabo, id magnam praesentium sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi reiciendis aspernatur eaque fugit commodi doloremque aut soluta dolor, quaerat amet blanditiis quibusdam rem! Nesciunt nostrum dignissimos ad commodi reiciendis.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, esse vel? Dolorem cupiditate sunt dolor nesciunt molestias eligendi aliquid, quae eaque maiores expedita a error, explicabo, id magnam praesentium sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi reiciendis aspernatur eaque fugit commodi doloremque aut soluta dolor, quaerat amet blanditiis quibusdam rem! Nesciunt nostrum dignissimos ad commodi reiciendis.</p>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$shape-image-treshold: ();
$shape-image-treshold: map-merge(
  (
    "015": 0.15,
    "06": 0.6,
  ),
  $shape-image-treshold
);

$shape-margin: ();
$shape-margin: map-merge(
  (
    25: 25px,
  ),
  $shape-margin
);

$shape-outside: ();
$shape-outside: map-merge(
  (
    "initial": initial,
  ),
  $shape-outside
);
</pre>
</div>