<h2 class="page-title">Tab-Size</h2>
<p class="info">The tab-size property in CSS is used to adjust the amount of spaces that display for the tab character.</p>
<div class="example-container">
<pre class="text-example background-color-info tab-size-8">
  TAB-SIZE: 8; Default Value 
a {
  color: red;
  &:hover,
  &:focus {
    color: blue;
  }
}
</pre>
<pre class="text-example background-color-warning tab-size-2">
  TAB-SIZE: 2;
a {
  color: red;
  &:hover,
  &:focus {
    color: blue;
  }
}
</pre>
<pre class="text-example background-color-succes tab-size-20px">
  TAB-SIZE: 20px;
a {
  color: red;
  &:hover,
  &:focus {
    color: blue;
  }
}
</pre>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">
&lt;pre class=&quot;text-example background-color-info tab-size-8&quot;&gt;
  TAB-SIZE: 8; Default Value 
a {
  color: red;
  &amp;:hover,
  &amp;:focus {
    color: blue;
  }
}
&lt;/pre&gt;
&lt;pre class=&quot;text-example background-color-warning tab-size-2&quot;&gt;
  TAB-SIZE: 2;
a {
  color: red;
  &amp;:hover,
  &amp;:focus {
    color: blue;
  }
}
&lt;/pre&gt;
&lt;pre class=&quot;text-example background-color-succes tab-size-20px&quot;&gt;
  TAB-SIZE: 20px;
a {
  color: red;
  &amp;:hover,
  &amp;:focus {
    color: blue;
  }
}
&lt;/pre&gt;
</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>