<h2 class="page-title">Vertical-Align</h2>
<p class="info">The vertical-align property in CSS controls how elements set next to each other on a line are lined up.</p>
<div class="example-container">
	<div class="vertical-align-middle height-300px width-100 background-color-info mb-7 white-space-nowrap">
		<h2 class="display-inline-block">Middle</h2>
		<img src="http://placekitten.com/100/100">
		<img src="http://placekitten.com/200/150">
		<img src="http://placekitten.com/220/80">
	</div>
	
	<div class="vertical-align-top height-300px width-100 background-color-info mb-7 white-space-nowrap">
		<h2 class="display-inline-block">Top</h2>
		<img src="http://placekitten.com/100/100">
		<img src="http://placekitten.com/200/150">
		<img src="http://placekitten.com/220/80">
	</div>
	
	<div class="vertical-align-bottom height-300px width-100 background-color-info white-space-nowrap">
		<h2 class="display-inline-block">Bottom</h2>
		<img src="http://placekitten.com/100/100">
		<img src="http://placekitten.com/200/150">
		<img src="http://placekitten.com/220/80">
	</div>
</div>
<h2 class="page-title">HTML</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">

</pre>
</div>