<h2 class="page-title">Widows</h2>
<p class="info">In typography terms, a widow is the last line of a paragraph that is left alone on a new page or in a new column. The widows property in CSS controls the minimum number of lines of a paragraph that can fall to a new page. This property only affects paged media such as print.</p>
<h2 class="page-title">SCSS</h2>
<div class="example-container">
<pre class="text-example">
$widows: ();
$widows: map-merge(
  (
    3: 3,
  ),
  $widows
);
</pre>
</div>