@if $enable-buttons {
  /** Button class class. */
  @each $attribute, $name in (background-color: btn) {
    @each $key, $color in $buttons {
      .#{$name}-#{$key} {
        #{$attribute}: $color;
        color: map-get($colors, "white");
        border-radius: map-get($borders-radius, 4);
        border: map-get($borders-styles, "none");
        cursor: map-get($cursors, "pointer");
        padding: map-get($spacers, 5) map-get($spacers, 4);
        outline: map-get($outline-style, "none");
        font-family: map-get($font-family, "sans-serif");
        font-size: map-get($fonts-size, 0);
        line-height: map-get($line-height, 1);
        letter-spacing: map-get($letter-spacing, 0);
        &:hover {
          background-color: darken($color, 20%);
        }
      }
    }
  }
  /** Small Button class. */
  @each $attribute, $name in (background-color: btn-sm) {
    @each $key, $color in $buttons {
      .#{$name}-#{$key} {
        #{$attribute}: $color;
        color: map-get($colors, "white");
        border-radius: map-get($borders-radius, 4);
        border: map-get($borders-styles, "none");
        cursor: map-get($cursors, "pointer");
        padding: map-get($spacers, 2) map-get($spacers, 3);
        outline: none;
        font-family: map-get($font-family, "sans-serif");
        font-size: map-get($fonts-size, 12);
        line-height: map-get($line-height, 1);
        letter-spacing: map-get($letter-spacing, 0);
        &:hover {
          background-color: darken($color, 20%);
        }
      }
    }
  }
  /** Large Button class. */
  @each $attribute, $name in (background-color: btn-lg) {
    @each $key, $color in $buttons {
      .#{$name}-#{$key} {
        #{$attribute}: $color;
        color: map-get($colors, "white");
        border-radius: map-get($borders-radius, 4);
        border: map-get($borders-styles, "none");
        cursor: map-get($cursors, "pointer");
        padding: map-get($spacers, 6) map-get($spacers, 6);
        outline: none;
        font-family: map-get($font-family, "sans-serif");
        font-size: map-get($fonts-size, 2);
        line-height: map-get($line-height, 1);
        letter-spacing: map-get($letter-spacing, 0);
        &:hover {
          background-color: darken($color, 20%);
        }
      }
    }
  }
  /** Outline Button class. */
  @each $attribute, $name in (border-color: btn-outline) {
    @each $key, $color in $buttons {
      .#{$name}-#{$key} {
        #{$attribute}: $color;
        border-width: map-get($borders-width, 1);
        border-style: map-get($borders-styles, "solid");
        color: $color;
        background-color: map-get($colors, "white");
        border-radius: map-get($borders-radius, 4);
        cursor: map-get($cursors, "pointer");
        padding: map-get($spacers, 5) map-get($spacers, 4);
        outline: none;
        font-family: map-get($font-family, "sans-serif");
        font-size: map-get($fonts-size, 0);
        line-height: map-get($line-height, 1);
        letter-spacing: map-get($letter-spacing, 0);
        &:hover {
          background-color: darken(map-get($colors, "white"), 20%);
        }
      }
    }
  }
}
