@if $enable-dropdown {
  .dropdown-main {
    display: flex;
    flex: wrap;
    flex-direction: column;
    padding: map-get($spacers, 0);
    width: map-get($widths, 2);
  }
  .dropdown-btn {
    outline: none;
    background-color: map-get($colors, "primary");
    border-radius: map-get($borders-radius, 4);
    border-width: map-get($borders-width, 0);
    border-style: map-get($borders-styles, "solid");
    border-color: map-get($colors, "black");
    cursor: map-get($cursors, "pointer");
    padding: map-get($spacers, 3) map-get($spacers, 5);
    font-family: map-get($font-family, "sans-serif");
    font-size: map-get($fonts-size, 0);
    line-height: map-get($line-height, 1);
    letter-spacing: map-get($letter-spacing, 0);
    &:hover {
      background-color: darken(map-get($colors, "white"), 20%);
    }
  }
  .dropdown-menu {
    display: none;
    list-style: none;
    margin: map-get($spacers, 0);
    padding: map-get($spacers, 0);
    margin-top: 1px;
    background-color: map-get($colors, "white");
    border-width: map-get($borders-width, 0);
    border-style: map-get($borders-styles, "solid");
    border-color: map-get($colors, "black");
    border-radius: map-get($borders-radius, 4);
  }
  .dropdown-link {
    font-size: map-get($fonts-size, 0);
    line-height: map-get($line-height, 1);
    letter-spacing: map-get($letter-spacing, 0);
    font-family: map-get($font-family, "sans-serif");
    padding: map-get($spacers, 2) map-get($spacers, 3);
  }
}
