@if $enable-forms {
  .form-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /** Form Container for Checkboxes*/
    &-checkbox {
      width: 100%;
    }
  }

  /** Class for Labels */
  .form-field-label {
    font-family: map-get($font-family, "sans-serif");
    font-size: map-get($fonts-size, 0);
    color: map-get($colors, "black");
    line-height: map-get($line-height, 1);
    letter-spacing: map-get($letter-spacing, 0);

    /** Uncommon attributes between label and control */
    padding-left: map-get($spacers, 2);
  }

  /** Class for <input>, <textarea> */
  .form-field-control {
    width: 100%;
    outline: none;
    margin-top: map-get($spacers, 1);
    padding: map-get($spacers, 2);
    font-family: map-get($font-family, "sans-serif");
    font-size: map-get($fonts-size, 0);
    color: map-get($colors, "black");
    line-height: map-get($line-height, 1);
    letter-spacing: map-get($letter-spacing, 0);
    border-width: map-get($borders-width, 0);
    border-style: map-get($borders-styles, "solid");
    border-color: map-get($colors, "black");
    border-radius: map-get($borders-radius, 4);
    /** For text area */
    resize: none;
    &-file {
      @extend.form-field-control;
      border-width: map-get($borders-width, 0);
      border-style: map-get($borders-styles, "solid");
      border-color: map-get($colors, "black");
      border-radius: map-get($borders-radius, 4);
      padding: map-get($spacers, 4) map-get($spacers, 2);
      background-color: map-get($colors, "gray");
    }
  }
}
