@if $enable-images {
  /** Class for fluid image (width: 100%) */
  .image-fluid {
    width: map-get($widths, 100);
    height: auto;
  }
  /** Class for thumbnail image */
  .image-thumbnail {
    width: map-get($widths, 2);
    height: auto;
    padding: map-get($spacers, 0);
    border-width: map-get($borders-width, 0);
    border-style: map-get($borders-styles, "solid");
    border-color: map-get($colors, "black");
    border-radius: map-get($borders-radius, 4);
    box-shadow: map-get($box-shadows, 1);
  }
  /** Creating classes for all the proprieties of object-fit */
  @each $attribute, $name in (object-fit: object-fit) {
    @each $key, $value in $object-fit {
      .#{$name}-#{$key} {
        #{$attribute}: $value;
      }
    }
  }
}
