@if ($enable-lists) {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      /** Class for Lists */
      .list {
        list-style: none;
        font-size: map-get($fonts-size, 0);
        line-height: map-get($line-height, 1);
        letter-spacing: map-get($letter-spacing, 0);
        font-family: map-get($font-family, "sans-serif");
      }
      /** Class for Lists with custom bullets */
      .list-bullet {
        list-style: none;
        font-size: map-get($fonts-size, 0);
        line-height: map-get($line-height, 1);
        letter-spacing: map-get($letter-spacing, 0);
        font-family: map-get($font-family, "sans-serif");
        /** Every li in the list is getting a custom bullet */
        & > li::before {
          content: $list-bullet-content;
        }
      }
    }
  }
}
